<!--<p>user-details works!</p>-->


<div *ngIf="usuario" style="padding-left: 1em;
padding-bottom: 1em;">

  <h2>{{usuario.name | uppercase}} Details</h2>
  <div><span>id: </span>{{usuario.id}}</div>
  <div>
    <label for="hero-name">Username: </label>
    <input id="hero-name" [(ngModel)]="usuario.name" placeholder="name">

    <label for="hero-name">Surname: </label>
    <input id="hero-name" [(ngModel)]="usuario.surname" placeholder="surname">
  </div>
  <button type="button" (click)="save()">save</button>
  <button type="button" (click)="goBack()">GO BACK</button>


</div>
