<!--<p>add-user works!</p>-->


<div class="anadir">
  <br>
  <label for="new-usuario">Username: </label>
  <input id="new-usuario-name" #usuarioName />
  <br>
  <br>
  <label for="new-usuario-surname">Surname: </label>
  <input id="new-usuario-surname" #usuarioSurName />

  <br>
  <br>

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(usuarioName.value, usuarioSurName.value ); usuarioName.value='';
  usuarioSurName.value= '' " >
    ADD USER
  </button>
</div>
