/*----------------------------*/

.add-button {
  margin-left: 1em;
}

.anadir {
  border-style: outset;
  min-height: 70vh;
}

.anadir input{
  background-color: whitesmoke;
}

label {
  padding-left: 1em;
}

* {
  background-color: gainsboro;
  border-color: aqua;
}
