<!--<p>App componet works!</p>
<img src="../assets/images/img1.png">
<img src="..\myApp\src\assets\img\img1.png">  -->

<div class="rotulo">

{{title}}

</div>
<nav>

 <button class="buttonnav"><a  routerLink="/usuarios">Mostrar lista usuarios</a></button>

 <button class="buttonnav"><a routerLink="/adduser">Mostrar FORMULARIO DE REGISTRO</a> </button>

 <button class="buttonnav"><a routerLink="/search">Mostrar BÚSQUEDA DE USUARIO</a> </button>


</nav>






<router-outlet></router-outlet>

<app-messages></app-messages>




