<p>usuarios works!</p>

<h2>{{usuario.name | uppercase }} Details</h2>


<div>
  <label for="name">ID: </label>
  <input id="name" [(ngModel)]="usuario.id" placeholder="id">
  <br>

  <label for="name">User Name: </label>
  <input id="name" [(ngModel)]="usuario.name" placeholder="name">
  <br>

  <label for="name">User Surname: </label>
  <input id="name" [(ngModel)]="usuario.surname" placeholder="surname">
<br>

</div>

<h2>Mis Usuarios</h2>
<ul class="usuarios">
  <li *ngFor="let usuario of usuarios">

      <span class="badge">{{usuario.id}}</span>
      <span class="name">{{usuario.name}}</span>
      <span class="name">{{usuario.surname}}</span>
      <button type="button" (click)="onSelect(usuario)" [class.selected]="usuario === selectedUsuario">SELECT THIS</button>
  </li>
</ul>


<div *ngIf="selectedUsuario">
<h2>{{selectedUsuario.name | uppercase}} Details</h2>
<div>id: {{selectedUsuario.id}}</div>
<div>
  <label for="hero-name">Hero Name: </label>
  <input id="hero-name" [(ngModel)]="selectedUsuario.name" placeholder="name">

  <label for="hero-name">Hero Surname: </label>
  <input id="hero-name" [(ngModel)]="selectedUsuario.surname" placeholder="surname">

</div>
</div>
