<p>usuarios works!</p>

<nav>
  <a routerLink="">Volver al menú</a>

</nav>


<h2>Mis Usuarios</h2>
<ul class="usuarios">
  <li *ngFor="let usuario of usuarios">
    <button type="button" (click)="onSelect(usuario)" [class.selected]="usuario === selectedUsuario">
      <span class="badge">{{usuario.id}} </span>
      <span class="name">{{usuario.name}} </span>
      <span class="name">{{usuario.surname}} </span>
     </button>
     <button type="button" class="delete" title="delete hero"
  (click)="delete(usuario)">X</button>
  </li>
</ul>





<app-user-details [usuario]="selectedUsuario"></app-user-details>
