

/*----------------------------*/

div.lista {
  border-style: outset;
  min-height: 70vh;
}



* {
  background-color: gainsboro;
  border-color: aqua;
}

.botoninicio {
  float: right;
    margin-top: 1em;
    margin-right: 1em;
    background-color: wheat;

}

 .botoninicio a {
  background-color: wheat;
}

.delete {
  background-color: indianred;
}
