/*----------------------------*/

.inicio {
  border-style: outset;
}

.inicio input{
  background-color: whitesmoke;
}

label {
  padding-left: 1em;
}

* {
  background-color: gainsboro;
  border-color: aqua;
}
