
<div class="inicio">
<p>¡BIENVENIDO AL INICIO! </p>
<p>Pincha en un botón para continuar</p>
<p>En esta app se puede</p>

<ul>
  <li>1-Crear usuarios. </li>
  <li>2-Editar usuarios. </li>
  <li>3-Borrar usuarios.</li>
  <li>4-Mostrar una lista de todos los usuarios.</li>
  <li>5-Buscar un usuario por nombre.</li>
</ul>

<p>Además, cada vez que se selecciona un usuario o se añade uno nuevo, aparece un mensaje abajo del programa.
<br>También se pueden eliminar dichos mensajes.
</p>
<p>Para cualquier contacto empresarial u ofertas de trabajo por favor contactad a mi correo o Linkedin</p>
<p>Correo: <b>andriusmw@gmail.com</b> </p>

 <a href="https://github.com/andriusmw"><img style="width: 10em;" src="assets/img/GitHub-Logo.png" alt="no-image-github" ></a>
 <a href="https://www.linkedin.com/in/andresgl94/"><img style="width: 10em;" src="assets/img/linkedin_logo.png" alt="no-image-linkedin" ></a>


<!--Así muestran las putas imagenes coño
<img src="assets/img/img1.png" alt="no-image">-->



</div>
