
<div class="inicio">
<p>¡BIENVENIDO AL INICIO! </p>
<p>Pincha en un botón para continuar</p>
<p>En esta app se puede</p>

<ul>
  <li>1-Crear usuarios. </li>
  <li>2-Editar usuarios. </li>
  <li>3-Borrar usuarios.</li>
  <li>4-Mostrar una lista de todos los usuarios.</li>
  <li>5-Buscar un usuario por nombre.</li>
</ul>

<p>Además, cada vez que se selecciona un usuario o se añade uno nuevo, aparece un mensaje abajo del programa.
<br>También se pueden eliminar dichos mensajes.
</p>
<p>Para cualquier contacto empresarial u ofertas de trabajo por favor contactad a mi correo o Linkedin</p>
<p>Correo: <b>andriusmw@gmail.com</b> </p>

<a href="https://github.com/andriusmw">GITHUB</a><br>
<a href="https://www.linkedin.com/in/andresgl94/">LINKEDIN</a>

</div>
